@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#EAE5D9] text-[#1d1d2c] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-indie 
  }

  h2 {
    @apply text-3xl lg:text-4xl
  }

  h3{
    @apply text-xl lg:text-2xl 
  }

  h4{
    @apply text-lg lg:text-xl
  }
  
  li {
    @apply cursor-pointer
  }

  p{
    @apply px-2 overflow-clip
  }

  button {
    @apply shadow-md rounded-xl uppercase bg-[#ab3a3adf] text-white p-2
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ab3a3adf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #af4f4fdf;
}



/* CUSTOM ANIMATIONS */
.animate-spin-horizontal{
  animation-duration: 0.8s;
  animation-name: animate-spin-horizontal;
  animation-fill-mode: forwards;
  
}

@keyframes animate-spin-horizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


