@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#F7f4e9] text-[#1d1d2c] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl lg:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-black
  }
}