@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
}

@layer base {
  section {
    overflow: hidden;
  }

  body {
    @apply bg-[#eae5d9] text-[#1d1d2c] tracking-wide  
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-indie 
  }

  h2 {
    @apply text-3xl lg:text-4xl
  }

  h3{
    @apply text-xl lg:text-2xl 
  }

  h4{
    @apply text-lg lg:text-xl
  }
  
  li {
    @apply cursor-pointer
  }

  p{
    @apply lg:text-[16px] sm:text-[15px] text-[14px] px-2 overflow-clip
  }

  button {
    @apply shadow-md rounded-xl text-white p-2 
  }
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ab3a3adf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #862e2edf;
}



/* CUSTOM ANIMATIONS */
.animate-swirl{
  animation: animate-swirl 1s ease 0s 1 normal forwards;
}

@keyframes animate-swirl {
  0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}

.animate-scale{
  animation: scale 1s ease 0s 1 normal forwards;
}
@keyframes scale {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

.animate-shake{
  animation: shake 2s ease 0s 1 normal forwards;
}

@keyframes shake {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

.animate-shake-up{
  animation: shake-up 8s ease-in 0s infinite normal forwards;
}

@keyframes shake-up {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

.animate-roll{
  animation: roll 1s ease-in 0s 1 normal forwards;
}

@keyframes roll {
	0% {
		opacity: .50;
		transform: translateX(-150px) rotate(-200deg);
	}

	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}

.custom-shadow-inner {
	box-shadow: inset 0px -15px 15px rgba(0, 0, 0, 0.2);
  }